/data/
/.idea/
/db/
!mongo_db.py
mongodb-osx-x86_64-3.4.1/*
mongodb-osx-x86_64-3.4.1/bin/*
one_timers/__init__.py
mongodb-osx-x86_64-3.6.3/THIRD-PARTY-NOTICES
mongodb-osx-x86_64-3.6.3/README
mongodb-osx-x86_64-3.6.3/MPL-2
mongodb-osx-x86_64-3.6.3/GNU-AGPL-3.0
mongodb-osx-x86_64-3.6.3/bin/mongotop
mongodb-osx-x86_64-3.6.3/bin/mongostat
mongodb-osx-x86_64-3.6.3/bin/mongos
mongodb-osx-x86_64-3.6.3/bin/mongorestore
mongodb-osx-x86_64-3.6.3/bin/mongoreplay
mongodb-osx-x86_64-3.6.3/bin/mongoperf
mongodb-osx-x86_64-3.6.3/bin/mongoimport
mongodb-osx-x86_64-3.6.3/bin/mongofiles
mongodb-osx-x86_64-3.6.3/bin/mongoexport
mongodb-osx-x86_64-3.6.3/bin/mongodump
mongodb-osx-x86_64-3.6.3/bin/mongod
mongodb-osx-x86_64-3.6.3/bin/mongo
mongodb-osx-x86_64-3.6.3/bin/install_compass
mongodb-osx-x86_64-3.6.3/bin/bsondump
static/log.txt
*.pyc
static/backup.json
static/countries_deu_eng.html
static/countries_deu_eng.html
static/country_codes.html
static/countries_deu_eng.html
static/all_cities.txt
bfg-1.13.0.jar
