{% extends 'base.html' %}
{% block content %}
    <h2>Tagebucheinträge</h2>
    {% for diary_entry in diary %}
    <div class="container card">
        <div class="card-header"><strong>{{ diary_entry["entry_date"] | diary_date_format}}</strong></div>
        <div class="card-body">
            <ul>
                {% for entry in diary_entry["entries"] %}
                    <li>{{ entry|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
<script>
    window.onload = function() {
        setNavigationPill("diary");
    }
</script>
{% endblock %}
