{% extends 'widgets/widget.html' %}
{% block title %}Wetter{% endblock %}
{% block content %}
{% if location %}
    <p><strong>Wetter f&uuml;r {{ location["city"] }}, {{ location["country"] }}:</strong></p>
        <div id="weatherArea" class="container">
            Wetter wird geladen...
        </div>
        <script>
        let weatherArea = document.getElementById("weatherArea");
        getWeather(weatherArea);
        </script>
{% else %}
    <p><em>Kein Aufenthaltsort festgelegt.</em></p>
{% endif %}
{% endblock %}