{% macro flash_message(message, cls) -%}
    <div class="alert alert-{{ cls }} alert-dismissible container-fluid">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>PersonalLifeCoach by Roman Kuratli</title>

    <!-- Open iconic master-->
    <link href="{{ url_for('static', filename="open-iconic-master/font/css/open-iconic-bootstrap.css") }}" rel="stylesheet">

</head>
<body>
    {% include "nav.html" %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-10">
                <h1>PersonalLifeCoach by Roman Kuratli</h1>
                <p><strong>T&auml;glich in kleinen Schritten zum Wohlbefinden</strong></p>
            </div>
            <div class="col-lg-2">
                {% with size=150, background="#606060", outer_color="orange", inner_color="yellow" %}
                    {% include 'logos/logo_color.svg' %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="container-fluid" id="mainContainer">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container-fluid row" id="log">
                {% for category, message in messages %}
                    {% if category == "error" %}
                        {{ flash_message(message, "danger") }}
                    {% elif category == "success" %}
                        {{ flash_message(message, "success") }}
                    {% else %}
                        {{ flash_message(message, "secondary") }}
                    {% endif %}
                {% endfor %}
                </div>
          {% endif %}
        {% endwith %}
    </div>
    <div id="content" class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</body>
</html>