{% extends 'base.html' %}
{% import "utils/picture_util.html" as picture_util %}
{% block content %}
    {{ picture_util.create_picture_modal() }}
    {% if quote %}
        {% include 'widgets/quotes_widget.html' %}
    {% endif %}
    {% include 'widgets/diary_widget.html' %}
    {% with location=location %}
        {% include 'widgets/wheather_widget.html' %}
    {% endwith %}
    {% include 'widgets/activity_widget.html' %}
    <script>
        window.onload = function() {
            setNavigationPill("home");
        }
    </script>
{% endblock %}
